<section class="banner" style="background-image: url(img/bg/bitrix24.jpg)">
    <div class="container">
        <p class="banner__logo"><img src="img/content/bitrix24_logo.svg" alt="Битрикс 24"></p>
        <h1 class="banner__title">Настройка Битрикс24<br> за <span>24 990 руб</span> и 7 дней</h1>
        <p class="banner__text">Через неделю Вы уже начнете работать с Битрикс-24</p>
        <div class="banner__buttons">
            <button class="banner__btn btn btn--light_blue btn--big" type="button" data-modal="order">Оставить заявку</button>
            <a class="banner__btn btn btn--transparent_white btn--big" href="#">Подробнее</a>
        </div>
        <div class="banner__image">
            <picture>
                <source srcset="img/content/bitrix24_banner.png, img/content/bitrix24_banner@2x.png 2x" media="(min-width: 768px)">
                <img src="img/content/bitrix24_banner.png" srcset="img/content/bitrix24_banner@2x.png 2x" alt="">
            </picture>
        </div>
    </div>
</section>