<section class="bundles">
    <div class="container">
        <h2 class="bundles__title title title--h2">Пакетные внедрения Битрикс24</h2>

        <ul class="bundles-list bundles-list--type_2">
            <li class="bundles-list__item">
                <div class="bundle bundle--type_2">
                    <h3 class="bundle__title">Базовый тариф</h3>
                    <ul class="bundle__features">
                        <li class="available">Экспресс-аудит системы продаж</li>
                        <li class="available">Создание структуры компании</li>
                        <li class="available">Настройка до 2-х воронок продаж</li>
                        <li class="available">Автодействия в воронке продаж</li>
                        <li class="available">Интеграция IP-телефонии (1 номер)</li>
                        <li class="available">Интеграция с сайтом</li>
                        <li class="available">Интеграция соц. сетей и мессенджеров с CRM-системой</li>
                        <li class="no-available">Обучение менеджеров работе с CRM</li>
                        <li class="no-available">Разработка 2-х бизнес процессов</li>
                        <li class="no-available">Построение отчетов для руководителя</li>
                    </ul>
                    <p class="bundle__price">24 900 руб/ до 5<br> сотрудников</p>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
            <li class="bundles-list__item">
                <div class="bundle bundle--type_2">
                    <h3 class="bundle__title">Тариф профессиональный</h3>
                    <ul class="bundle__features">
                        <li class="available">Аудит системы продаж</li>
                        <li class="available">Настройка воронок продаж по аудиту</li>
                        <li class="available">Настройка до 3-х воронок продаж</li>
                        <li class="available">Автодействия в воронке продаж</li>
                        <li class="available">Интеграция IP-телефонии</li>
                        <li class="available">Интеграция с сайтом</li>
                        <li class="available">Обучение руководителей работе с CRM</li>
                        <li class="available">Обучение менеджеров работе с CRM</li>
                        <li class="available">Разработка 2-х бизнес процессов</li>
                        <li class="available">Построение отчетов для руководителя</li>
                        <li class="available">Документооборот</li>
                    </ul>
                    <p class="bundle__price">24 900 руб/ до 5<br> сотрудников</p>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
            <li class="bundles-list__item">
                <div class="bundle bundle--type_2">
                    <h3 class="bundle__title">Тариф бизнес</h3>
                    <ul class="bundle__features">
                        <li class="available">Аудит системы продаж</li>
                        <li class="available">Создание структуры компании</li>
                        <li class="available">Настройка до 2-х воронок продаж</li>
                        <li class="available">Автодействия в воронке продаж</li>
                        <li class="available">Интеграция IP-телефонии (1 номер)</li>
                        <li class="available">Интеграция с сайтом</li>
                        <li class="available">Интеграция соц. сетей и мессенджеров с CRM-системой</li>
                        <li class="available">Обучение менеджеров работе с CRM</li>
                        <li class="available">Разработка 2-х бизнес процессов</li>
                        <li class="available">Построение отчетов для руководителя</li>
                    </ul>
                    <p class="bundle__price">24 900 руб/ до 5<br> сотрудников</p>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
        </ul>
    </div>
</section>