<section class="bundles">
    <div class="container">
        <h2 class="bundles__title title title--h2">Выберите свой пакет услуг</h2>

        <ul class="bundles-list">
            <li class="bundles-list__item">
                <div class="bundle">
                    <h3 class="bundle__title">Интеграция Битрикс с сайтом или лендингом</h3>
                    <ul class="bundle__features">
                        <li class="available">Интеграция форм заявок на лендинге или сайте</li>
                        <li class="available">Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</li>
                        <li class="no-available">Обрабатывайте заявки проще и быстрее.</li>
                        <li class="no-available">Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</li>
                    </ul>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
            <li class="bundles-list__item">
                <div class="bundle">
                    <h3 class="bundle__title">Пакет “Быстрый старт”</h3>
                    <ul class="bundle__features">
                        <li class="available">Аудит и подготовка к запуску</li>
                        <li class="available">Настройка CRM</li>
                        <li class="available">Подключение источников трафика</li>
                        <li class="available">Обучение менеджеров</li>
                        <li class="available">Поддержка и корректировки работы менеджеров и системы</li>
                        <li>Вы получите комплексный инструктаж по работе с CRM и другие услуги всего за 39 999 руб.</li>
                    </ul>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
            <li class="bundles-list__item">
                <div class="bundle">
                    <h3 class="bundle__title">Интеграция Битрикс с сайтом или лендингом</h3>
                    <ul class="bundle__features">
                        <li class="available">Интеграция форм заявок на лендинге или сайте</li>
                        <li class="available">Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</li>
                        <li class="no-available">Обрабатывайте заявки проще и быстрее.</li>
                        <li class="no-available">Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</li>
                    </ul>
                    <div class="bundle__btn-block"><button class="bundle__btn btn btn--transparent btn--small" type="button">ОСТАВИТЬ ЗАЯВКУ</button></div>
                </div>
            </li>
        </ul>
    </div>
</section>