<section class="cases">
    <div class="container">
        <div class="title-content">
            <h2 class="title title--h2">Кейсы</h2>
            <p>Наилучшим образом нашу квалификацию подтверждают реализованные проекты. В каждом проекте любое совершаемое действие — измеримо и направлено на достижение конкретного результата.</p>
        </div>

        <section class="tab-list">
            <div class="tab-list__dropdown tab-list__item">
                <button class="tab-list__dropdown-btn tab-list__btn tab-list__btn--active btn btn--no-uppercase btn--white">AMO CRM</button>
                <svg width="7" height="7">
                    <use xlink:href="#icon-triangle-down"></use>
                </svg>
            </div>
            <div id="myDropdown" class="tab-list__buttons tab-list__buttons--tabs">
                <div class="tab-list__item tab-list__item--hide">
                    <button class="tab-list__btn tab-list__btn--active btn btn--no-uppercase btn--white btn--no-pointer" type="button" data-value="tab-1">AMO CRM</button>
                </div>
                <div class="tab-list__item">
                    <button class="tab-list__btn btn btn--no-uppercase btn--white" type="button" data-value="tab-2">Битрикс 24</button>
                </div>
                <div class="tab-list__item">
                    <button class="tab-list__btn btn btn--no-uppercase btn--white" type="button" data-value="tab-3">Контекст</button>
                </div>
                <div class="tab-list__item">
                    <button class="tab-list__btn btn btn--no-uppercase btn--white" type="button" data-value="tab-4">Таргет</button>
                </div>
                <div class="tab-list__item">
                    <button class="tab-list__btn btn btn--no-uppercase btn--white" type="button" data-value="tab-5">SEO</button>
                </div>
                <div class="tab-list__item">
                    <button class="tab-list__btn btn btn--no-uppercase btn--white" type="button" data-value="tab-6">SMM</button>
                </div>
            </div>

            <ul class="our-services__desc-list tab-list__desc">
                <li class="tab-list__desc-item tab-list__desc-item--show" id="tab-1">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-2">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-3">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-4">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-5">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-6">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tab-list__desc-item" id="tab-7">
                    <ul class="cases-list">
                        <li class="cases-list__item">
                            <a class="case-card" href="#">
                                <span class="case-card__image">
                                    <img class="case-card__white" src="img/content/cases-list/img_white.png" srcset="img/content/cases-list/img_white@2x.png 2x" alt="">
                                    <img class="case-card__color" src="img/content/cases-list/img_color.png" srcset="img/content/cases-list/img_color@2x.png 2x" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <div class="cases__btn">
            <a href="#" class="btn btn--transparent btn--big">ПОКАЗАТЬ ЕЩЕ</a>
        </div>
    </div>
</section>