<footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__header">

            <a href="#" class="footer__logo">
                <img src="img/svg/logo.svg" width="140" height="50" alt="Логотип комании">
            </a>

            <!--<div class="footer__search">
                <form action="main.html" class="search">
                    <label for="footer-search" class="visually-hidden">Поиск по сайту</label>
                    <input class="search__input" type="search" name="search" id="footer-search" placeholder="Поиск">
                    <button type="submit" class="search__submit" aria-label="Найти на сайте">
                        <svg class="search__icon" width="18" height="18">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </form>
            </div>-->
        </div>

        <div class="footer__main">
            <section class="footer__menu">
                <h2 class="visually-hidden">Меню сайта</h2>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <p class="footer__list-title">о компании</p>
                        <ul class="footer__sublist">
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Команда</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Вакансии</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Блог</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer__list-item">
                        <p class="footer__list-title">услуги</p>
                        <ul class="footer__sublist">
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Битрикс24</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">AmoCrm</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Отраслевые решения</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Sensei</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">IP телефония</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Аналитика</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Маркетинг</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer__list-item">
                        <p class="footer__list-title">клиенты</p>
                        <ul class="footer__sublist">
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Кейсы</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Отзывы</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer__list-item">
                        <p class="footer__list-title">Лицензии</p>
                        <ul class="footer__sublist">
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Кейсы</a>
                            </li>
                            <li class="footer__sublist-item">
                                <a href="#" class="footer__sublist-link">Отзывы</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="contacts contacts--footer">
                <h2 class="visually-hidden">Наши контакты</h2>
                <ul class="contacts__list">
                    <li class="contacts__item contacts__item--footer">
                        <address class="contacts__address">
                            <a href="https://goo.gl/maps/FPWdcqoWESWasboj9" target="_blank">
                                <svg class="contacts__icon contacts__icon--footer" width="16" height="16">
                                    <use xlink:href="#icon-pin"></use>
                                </svg>
                                Санкт-Петербург, Пулковское шоссе, дом 40/4, Бизнес-центр «ТЕХНОПОЛИС»
                            </a>
                        </address>
                    </li>
                    <li class="contacts__item contacts__item--footer">
                        <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                            <svg class="contacts__icon contacts__icon--footer" width="16" height="16">
                                <use xlink:href="#icon-phone"></use>
                            </svg>
                            8 800 302 32 75
                        </a>
                    </li>
                    <li class="contacts__item contacts__item--footer">
                        <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                            <svg class="contacts__icon contacts__icon--footer" width="16" height="16">
                                <use xlink:href="#icon-email"></use>
                            </svg>
                            hello@nikolaev.group
                        </a>
                    </li>
                    <li class="contacts__item contacts__item--footer">
                        <div class="contacts__link">ИП Николаева Мария Михайловна</div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</footer>