<section class="form-block">
    <div class="container">
        <h2 class="form-block__title title title--h2">Оставьте данные о вас,<br> мы свяжемся с вами!</h2>
        <form class="form-feedback">
            <div class="form-feedback__row">
                <div class="form-feedback__cell">
                    <div class="form-feedback__input-wrapper">
                        <input class="form-feedback__input form-feedback__input--name" type="text" name="name" id="field-name" required="">
                        <label for="field-name">Ваше имя*</label>
                    </div>
                </div>
                <div class="form-feedback__cell">
                    <div class="form-feedback__input-wrapper">
                        <input class="form-feedback__input form-feedback__input--tel input-tel" type="tel" name="phone" id="field-tel" minlength="22" required="">
                        <label for="field-tel">Номер телефона*</label>
                    </div>
                </div>
            </div>
            <div class="form-feedback__button-block"><button class="btn btn--blue btn--small" type="submit">Написать нам</button></div>
        </form>
    </div>
</section>