<section class="form-banner">
    <div class="form-banner__wrapper container">
        <div class="form-banner__photo-wrapper">
            <picture>
                <source srcset="img/content/form-banner.png 1x, img/content/form-banner@2x.png 2x" media="(min-width: 768px)">
                <img src="img/content/form-banner_mobile.png" srcset="img/content/form-banner_mobile@2x.png 2x" alt="">
            </picture>
        </div>
        <div class="form-banner__text-wrapper">
            <h2 class="form-banner__title title title--h2">Заполните форму</h2>
            <p class="form-banner__text">И получите коммерческое<br> предложение по <b>WhatsApp</b></p>
            <button class="form-banner__btn btn btn--light_blue btn--big" type="button" data-modal="order">Оставить заявку</button>
        </div>
    </div>
</section>