<header class="header compensate-for-scrollbar">
    <div class="header__menu container">
        <div class="header__wrapper">
            <a class="header__logo" href="main.html" aria-label="Переход на главную">
                <img src="img/svg/logo.svg" alt="Логотип компании Nikolaev.group">
            </a>
            <button class="header__btn-menu btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false"></button>
        </div>
        <div class="header__wrapper-second">
            <div class="header__menu-wrapper">
                <!--<div class="header__search">
                    <form action="main.html" class="search">
                        <label for="header-search" class="visually-hidden">Поиск по сайту</label>
                        <input class="search__input" type="search" name="search" id="header-search" placeholder="Поиск">
                        <button type="submit" class="search__submit" aria-label="Найти на сайте">
                            <svg class="search__icon" width="18" height="18">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </button>
                    </form>
                </div>-->
                <nav class="header__menu main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a class="main-nav__link main-nav__link--arrow" href="#" id="menu-1">Внедрение AMO crm</a>
                            <div class="main-nav__menu" data-menu="menu-1">
                                <div class="main-nav__title-wrapper">
                                    <button class="main-nav__menu-title" type="button">Внедрение AMO crm</button>
                                </div>
                                <div class="main-nav__menu-item">
                                    <ul class="main-nav__menu-second main-nav__menu-second--services">
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">AmoCRM</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Битрикс24</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Отрасли решения</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Sensei</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">IP Телефония</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Аналитика</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Маркетинг</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav__contacts-wrapper">
                                    <section class="contacts contacts--header">
                                        <h2 class="visually-hidden">Наши контакты</h2>
                                        <ul class="contacts__list contacts__list--header">
                                            <li class="contacts__item">
                                                <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    +7 964 324 00 87
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <a href="#" class="contacts__link" target="_blank" rel="nofollow noopener" aria-label="Перейти на страницу в Instagram">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-instagram"></use>
                                                    </svg>
                                                    nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item contacts__item--mail">
                                                <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-email"></use>
                                                    </svg>
                                                    hello@nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <address class="contacts__address">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-pin"></use>
                                                    </svg>
                                                    Санкт-Петербург, Пулковское шоссе, дом 40/4,<br> Бизнес-центр<br> «ТЕХНОПОЛИС»
                                                </address>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__link main-nav__link--arrow" href="#" id="menu-2">Внедрение Битрикс 24</a>
                            <div class="main-nav__menu" data-menu="menu-2">
                                <div class="main-nav__title-wrapper">
                                    <button class="main-nav__menu-title" type="button">Внедрение Битрикс 24</button>
                                </div>
                                <div class="main-nav__menu-item">
                                    <ul class="main-nav__menu-second main-nav__menu-second--services">
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Клиент 1</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Клиент 2</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Клиент 3</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Клиент 4</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Клиент 5</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Клиент 6</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Клиент 7</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav__contacts-wrapper">
                                    <section class="contacts contacts--header">
                                        <h2 class="visually-hidden">Наши контакты</h2>
                                        <ul class="contacts__list contacts__list--header">
                                            <li class="contacts__item">
                                                <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    +7 964 324 00 87
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <a href="#" class="contacts__link" target="_blank" rel="nofollow noopener" aria-label="Перейти на страницу в Instagram">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-instagram"></use>
                                                    </svg>
                                                    nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item contacts__item--mail">
                                                <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-email"></use>
                                                    </svg>
                                                    hello@nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <address class="contacts__address">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-pin"></use>
                                                    </svg>
                                                    Санкт-Петербург, Пулковское шоссе, дом 40/4,<br> Бизнес-центр<br> «ТЕХНОПОЛИС»
                                                </address>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__link main-nav__link--arrow" href="#" id="menu-3">Услуги</a>
                            <div class="main-nav__menu" data-menu="menu-3">
                                <div class="main-nav__title-wrapper">
                                    <button class="main-nav__menu-title" type="button">Услуги</button>
                                </div>
                                <div class="main-nav__menu-item">
                                    <ul class="main-nav__menu-second main-nav__menu-second--services">
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Миссия</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Команда</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Пресса</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Контакты</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">История создания</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav__contacts-wrapper">
                                    <section class="contacts contacts--header">
                                        <h2 class="visually-hidden">Наши контакты</h2>
                                        <ul class="contacts__list contacts__list--header">
                                            <li class="contacts__item">
                                                <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    +7 964 324 00 87
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <a href="#" class="contacts__link" target="_blank" rel="nofollow noopener" aria-label="Перейти на страницу в Instagram">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-instagram"></use>
                                                    </svg>
                                                    nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item contacts__item--mail">
                                                <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-email"></use>
                                                    </svg>
                                                    hello@nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <address class="contacts__address">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-pin"></use>
                                                    </svg>
                                                    Санкт-Петербург, Пулковское шоссе, дом 40/4,<br> Бизнес-центр<br> «ТЕХНОПОЛИС»
                                                </address>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__link main-nav__link--arrow" href="#" id="menu-4">
                                <span class="main-nav__link-tag">sale</span>
                                Лицензии
                            </a>
                            <div class="main-nav__menu" data-menu="menu-4">
                                <div class="main-nav__title-wrapper">
                                    <button class="main-nav__menu-title" type="button">Лицензии</button>
                                </div>
                                <div class="main-nav__menu-item">
                                    <ul class="main-nav__menu-second main-nav__menu-second--services">
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Миссия</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Команда</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link main-nav__second-link--arrow">Пресса</a>
                                            <ul class="main-nav__menu-third">
                                                <li><a href="#">Сопровождение и развитие AmoCRM</a></li>
                                                <li><a href="#">Аудит AmoCRM</a></li>
                                                <li><a href="#">Внедрение AmoCRM</a></li>
                                                <li><a href="#">Продление лицензии AmoCRM</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">Контакты</a>
                                        </li>
                                        <li class="main-nav__second-item">
                                            <a href="#" class="main-nav__second-link">История создания</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav__contacts-wrapper">
                                    <section class="contacts contacts--header">
                                        <h2 class="visually-hidden">Наши контакты</h2>
                                        <ul class="contacts__list contacts__list--header">
                                            <li class="contacts__item">
                                                <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-phone"></use>
                                                    </svg>
                                                    +7 964 324 00 87
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <a href="#" class="contacts__link" target="_blank" rel="nofollow noopener" aria-label="Перейти на страницу в Instagram">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-instagram"></use>
                                                    </svg>
                                                    nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item contacts__item--mail">
                                                <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-email"></use>
                                                    </svg>
                                                    hello@nikolaev.group
                                                </a>
                                            </li>
                                            <li class="contacts__item">
                                                <address class="contacts__address">
                                                    <svg class="contacts__icon" width="16" height="16">
                                                        <use xlink:href="#icon-pin"></use>
                                                    </svg>
                                                    Санкт-Петербург, Пулковское шоссе, дом 40/4,<br> Бизнес-центр<br> «ТЕХНОПОЛИС»
                                                </address>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="header__btn-wrapper">
                        <a class="contacts__link" href="tel:88003023275" aria-label="Позвонить по номеру 88003023275">
                            <svg class="contacts__icon contacts__icon--footer" width="16" height="16">
                                <use xlink:href="#icon-phone"></use>
                            </svg>
                            8 800 302 32 75
                        </a>
                        <a class="btn btn--whatsapp btn--whatsapp_solid btn--small" href="https://wa.me/+79643240087/?text=Хочу%20обсудить%20внедрение%20CRM" target="_blank">Написать в Whatsapp</a>
                    </div>
                </nav>
                <div class="header__contacts">
                    <section class="contacts contacts--header">
                        <h2 class="visually-hidden">Наши контакты</h2>
                        <ul class="contacts__list contacts__list--header">
                            <li class="contacts__item">
                                <a href="tel:+79643240087" class="contacts__link" aria-label="Позвонить по номеру +79643240087">
                                    <svg class="contacts__icon" width="16" height="16">
                                        <use xlink:href="#icon-phone"></use>
                                    </svg>
                                    +7 964 324 00 87
                                </a>
                            </li>
                            <li class="contacts__item">
                                <a href="#" class="contacts__link" target="_blank" rel="nofollow noopener" aria-label="Перейти на страницу в Instagram">
                                    <svg class="contacts__icon" width="16" height="16">
                                        <use xlink:href="#icon-instagram"></use>
                                    </svg>
                                    nikolaev.group
                                </a>
                            </li>
                            <li class="contacts__item contacts__item--mail">
                                <a href="mailto:hello@nikolaev.group" class="contacts__link" aria-label="Написать e-mail">
                                    <svg class="contacts__icon" width="16" height="16">
                                        <use xlink:href="#icon-email"></use>
                                    </svg>
                                    hello@nikolaev.group
                                </a>
                            </li>
                            <li class="contacts__item">
                                <address class="contacts__address">
                                    <svg class="contacts__icon" width="16" height="16">
                                        <use xlink:href="#icon-pin"></use>
                                    </svg>
                                    Санкт-Петербург, Пулковское шоссе, дом 40/4,<br> Бизнес-центр<br> «ТЕХНОПОЛИС»
                                </address>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>