<section class="main-slider">
    <div class="container">
        <div class="main-slider__svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321 531">
                <circle class="st0" cx="128" cy="7" r="3" />
                <circle class="st0" cx="133" cy="20" r="3" />
                <circle class="st0" cx="136" cy="33" r="3" />
                <circle class="st0" cx="136" cy="46" r="3" />
                <circle class="st0" cx="132" cy="59" r="3" />
                <circle class="st0" cx="121" cy="72" r="3" />
                <circle id="1" class="change st0" cx="104" cy="88" r="6" />
                <circle class="st1" cx="88" cy="100" r="3" />
                <circle class="st1" cx="75" cy="113" r="3" />
                <circle class="st1" cx="63" cy="126" r="3" />
                <circle class="st1" cx="53" cy="139" r="3" />
                <circle class="st1" cx="44" cy="152" r="3" />
                <circle class="st1" cx="35" cy="165" r="3" />
                <circle class="st1" cx="28" cy="178" r="3" />
                <circle class="st1" cx="22" cy="191" r="3" />
                <circle id="2" class="change st2" cx="17" cy="207" r="6" />
                <circle class="st1" cx="12" cy="223" r="3" />
                <circle class="st1" cx="8" cy="236" r="3" />
                <circle class="st3" cx="6" cy="249" r="3" />
                <circle class="st4" cx="4" cy="265" r="3" />
                <circle class="st5" cx="3" cy="278" r="3" />
                <circle class="st5" cx="3" cy="291" r="3" />
                <circle class="st5" cx="4" cy="304" r="3" />
                <circle class="st5" cx="5" cy="317" r="3" />
                <circle id="3" class="change st6" cx="7" cy="333" r="6" />
                <circle class="st6" cx="10" cy="349" r="3" />
                <circle class="st6" cx="14" cy="362" r="3" />
                <circle class="st6" cx="19" cy="375" r="3" />
                <circle class="st6" cx="24" cy="388" r="3" />
                <circle class="st6" cx="30" cy="401" r="3" />
                <circle class="st6" cx="38" cy="414" r="3" />
                <circle class="st6" cx="45" cy="427" r="3" />
                <circle class="st6" cx="53" cy="440" r="3" />
                <circle id="4" class="change st7" cx="66" cy="456" r="6" />
                <circle class="st8" cx="81" cy="469" r="3" />
                <circle class="st8" cx="95" cy="480" r="3" />
                <circle class="st8" cx="109" cy="489" r="3" />
                <circle class="st8" cx="122" cy="497" r="3" />
                <circle class="st8" cx="135" cy="503" r="3" />
                <circle class="st8" cx="148" cy="510" r="3" />
                <circle class="st8" cx="161" cy="516" r="3" />
                <circle class="st8" cx="175" cy="522" r="3" />
                <circle id="5" class="change st7" cx="191" cy="524" r="6" />
                <circle class="st8" cx="207" cy="525" r="3" />
                <circle class="st8" cx="220" cy="525" r="3" />
                <circle class="st8" cx="233" cy="525" r="3" />
                <circle class="st8" cx="246" cy="525" r="3" />
                <circle class="st8" cx="259" cy="525" r="3" />
                <circle class="st8" cx="272" cy="525" r="3" />
                <circle class="st8" cx="285" cy="525" r="3" />
                <circle class="st8" cx="298" cy="525" r="3" />
                <circle id="6" class="change st7" cx="315" cy="525" r="6" />
            </svg>
            <div id="mover" class="main-slider__mover"></div>
        </div>
        <div class="swiper-container">
            <div class="js-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Аудит системы<br> продаж</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Настройка<br> воронки<br> продаж</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> ip-телефонии</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> с сайтом</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> мессенджеров<br> и соц. сетей</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Обучение<br> менеджеров<br> работе в CRM</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">
                                Заказать<br> проект
                                <button class="slide__btn btn btn--blue" type="button">Хочу так!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="swiper-button-prev" type="button" title="Назад">
                    <svg>
                        <use xlink:href="#icon-triangle-right"></use>
                    </svg>
                </button>
                <button class="swiper-button-next" type="button" title="Вперёд">
                    <svg>
                        <use xlink:href="#icon-triangle-right"></use>
                    </svg>
                </button>

                <div class="pagination">
                    <div class="pagination__nums">
                        <b>1</b> / 7
                    </div>
                    <div class="js-slider-pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>