<section class="main-slider">
    <div class="container">
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 484 526">
                <path class="st0" d="M127.3,4c7.3,9.3,14.3,32.6,11.1,44.7c-5.8,22.1-20.3,29.4-29.5,38.3c-21,15.7-66.3,59.7-83.7,111.4
                c-6.3,18.5-11.3,37.8-13.6,55.5c-3.9,30-0.4,55.1,0,62.8c0.5,9.7,7.6,40.9,20.3,72.1c15.5,29,29,52.5,45.5,70.2
                c34.9,37.4,107,58.9,107,58.9s207.2,1,291.9,0" />
                <ellipse class="st9" cx="131.3" cy="4" rx="2.9" ry="3" />
                <ellipse class="st9" cx="137.1" cy="21" rx="2.9" ry="3" />
                <ellipse class="st9" cx="138" cy="41" rx="2.9" ry="3" />
                <ellipse class="st9" cx="126.4" cy="64" rx="2.9" ry="3" />
                <ellipse id="1" class="change st9" cx="109.1" cy="80" rx="5.8" ry="6" />
                <ellipse class="st7" cx="93.7" cy="93" rx="2.9" ry="3" />
                <ellipse class="st7" cx="82.1" cy="105" rx="2.9" ry="3" />
                <ellipse class="st7" cx="70.5" cy="117" rx="2.9" ry="3" />
                <ellipse class="st7" cx="60.9" cy="130" rx="2.9" ry="3" />
                <ellipse class="st7" cx="50.3" cy="144" rx="2.9" ry="3" />
                <ellipse class="st7" cx="41.6" cy="159" rx="2.9" ry="3" />
                <ellipse class="st7" cx="32.9" cy="175" rx="2.9" ry="3" />
                <ellipse id="2" class="change st8" cx="25.2" cy="194" rx="5.8" ry="6" />
                <ellipse class="st7" cx="18.5" cy="214" rx="2.9" ry="3" />
                <ellipse class="st7" cx="14.6" cy="232" rx="2.9" ry="3" />
                <ellipse class="st6" cx="11.7" cy="250" rx="2.9" ry="3" />
                <ellipse class="st5" cx="9.8" cy="271" rx="2.9" ry="3" />
                <ellipse class="st4" cx="9.8" cy="289" rx="2.9" ry="3" />
                <ellipse id="3" class="change st3" cx="11.7" cy="314" rx="5.8" ry="6" />
                <ellipse class="st3" cx="15.6" cy="335" rx="2.9" ry="3" />
                <ellipse class="st3" cx="19.4" cy="351" rx="2.9" ry="3" />
                <ellipse class="st3" cx="24.3" cy="367" rx="2.9" ry="3" />
                <ellipse id="4" class="change st3" cx="32" cy="388" rx="5.8" ry="6" />
                <ellipse class="st3" cx="41.6" cy="407" rx="2.9" ry="3" />
                <ellipse class="st3" cx="51.3" cy="423" rx="2.9" ry="3" />
                <ellipse class="st3" cx="61.9" cy="440" rx="2.9" ry="3" />
                <ellipse id="5" class="change st1" cx="77.3" cy="459" rx="5.8" ry="6" />
                <ellipse class="st2" cx="91.7" cy="473" rx="2.9" ry="3" />
                <ellipse class="st2" cx="104.3" cy="484" rx="2.9" ry="3" />
                <ellipse class="st2" cx="117.8" cy="491" rx="2.9" ry="3" />
                <ellipse class="st2" cx="130.3" cy="499" rx="2.9" ry="3" />
                <ellipse class="st2" cx="145.7" cy="505" rx="2.9" ry="3" />
                <ellipse class="st2" cx="163.1" cy="511" rx="2.9" ry="3" />
                <ellipse id="6" class="change st1" cx="183.3" cy="518" rx="5.8" ry="6" />
                <ellipse class="st2" cx="205.5" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="224.8" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="246" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="267.2" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="287.4" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="308.6" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="329.8" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="351" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="371.3" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="391.5" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="411.8" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="432" cy="518" rx="2.9" ry="3" />
                <ellipse class="st2" cx="452.3" cy="518" rx="2.9" ry="3" />
                <ellipse id="7" class="change st1" cx="476.4" cy="518" rx="5.8" ry="6" />

            </svg>
            <div id="mover" class="mover"></div>
        </div>
        <div class="swiper-container">
            <div class="js-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Аудит системы<br> продаж</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Настройка<br> воронки<br> продаж</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> ip-телефонии</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> с сайтом</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Интеграция<br> мессенджеров<br> и соц. сетей</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">Обучение<br> менеджеров<br> работе в CRM</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide">
                            <div class="slide__image">
                                <picture>
                                    <source srcset="img/content/slider/slide_1_desk.png, img/content/slider/slide_1_desk@2x.png 2x" media="(min-width: 1024px)">
                                    <img src="img/content/slider/slide_1_mob.png" srcset="img/content/slider/slide_1_mob.png 2x" alt="">
                                </picture>
                            </div>

                            <div class="slide__title title title--h1">
                                Заказать<br> проект
                                <button class="slide__btn btn btn--blue" type="button">Хочу так!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="swiper-button-prev" type="button" title="Назад">
                    <svg>
                        <use xlink:href="#icon-triangle-right"></use>
                    </svg>
                </button>
                <button class="swiper-button-next" type="button" title="Вперёд">
                    <svg>
                        <use xlink:href="#icon-triangle-right"></use>
                    </svg>
                </button>

                <div class="pagination">
                    <div class="pagination__nums">
                        <b>1</b> / 7
                    </div>
                    <div class="js-slider-pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>