<section class="our-services">
    <div class="container">
        <h2 class="our-services__title title title--h2">Наши услуги</h2>

        <div class="our-services__wrapper">
            <div class="our-services__menu-block">
                <div class="left-menu">
                    <button class="left-menu__button left-menu__button--toggler" type="button">Внедрение Битрикс24</button>
                    <ul class="left-menu__list">
                        <li class="left-menu__item left-menu__item--hidden"><button class="left-menu__button is-active" type="button" data-tab="1">Внедрение Битрикс24</button></li>
                        <li class="left-menu__item"><button class="left-menu__button" type="button" data-tab="2">Внедрение AmoCRM</button></li>
                        <li class="left-menu__item"><button class="left-menu__button" type="button" data-tab="3">Маркетинг</button></li>
                        <li class="left-menu__item"><button class="left-menu__button" type="button" data-tab="4">Аналитика</button></li>
                        <li class="left-menu__item"><button class="left-menu__button" type="button" data-tab="5">Отраслевые решения</button></li>
                    </ul>
                </div>
            </div>
            <div class="our-services__list-block">
                <div class="left-menu-tabs">
                    <div class="left-menu-tab is-active" data-tab="1">
                        <ul class="services-cards">
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Пакет<br> Быстрый старт</h3>
                                    <div class="service-card__text">
                                        <p>Когда небольшой компании необходимо в сжатые сроки повысить эффективность сотрудников и увеличить продажи.</p>
                                        <p>Настроим Битрикс24 за 10 дней и 39900 руб</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Настройка Битрикс24 и автоматизация продаж</h3>
                                    <div class="service-card__text">
                                        <p>Почувствуйте разницу с автоматизированными ключевыми бизнес-процессами и воронками продаж.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с телефонией</h3>
                                    <div class="service-card__text">
                                        <p>Повышайте эффективность персонала, дисциплинируйте. Обращайтесь к звонящему клиенту по имени — Битрикс24 помнит всё.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с сайтом или лендингом</h3>
                                    <div class="service-card__text">
                                        <p>Обрабатывайте заявки проще и быстрее. Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Подключение средств коммуникаций</h3>
                                    <div class="service-card__text">
                                        <p>Важно не только быстро среагировать на запрос клиента, но и обеспечить ему полноценный сервис и персональный подход.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс24 и 1С</h3>
                                    <div class="service-card__text">
                                        <p>Ускоряйте процессы и продавайте больше. Создавайте заказы покупателя прямо из CRM-системы.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="left-menu-tab" data-tab="2">
                        <ul class="services-cards">
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Подключение средств коммуникаций</h3>
                                    <div class="service-card__text">
                                        <p>Важно не только быстро среагировать на запрос клиента, но и обеспечить ему полноценный сервис и персональный подход.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс24 и 1С</h3>
                                    <div class="service-card__text">
                                        <p>Ускоряйте процессы и продавайте больше. Создавайте заказы покупателя прямо из CRM-системы.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="left-menu-tab" data-tab="3">
                        <ul class="services-cards">
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Настройка Битрикс24 и автоматизация продаж</h3>
                                    <div class="service-card__text">
                                        <p>Почувствуйте разницу с автоматизированными ключевыми бизнес-процессами и воронками продаж.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с телефонией</h3>
                                    <div class="service-card__text">
                                        <p>Повышайте эффективность персонала, дисциплинируйте. Обращайтесь к звонящему клиенту по имени — Битрикс24 помнит всё.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с сайтом или лендингом</h3>
                                    <div class="service-card__text">
                                        <p>Обрабатывайте заявки проще и быстрее. Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="left-menu-tab" data-tab="4">
                        <ul class="services-cards">
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с телефонией</h3>
                                    <div class="service-card__text">
                                        <p>Повышайте эффективность персонала, дисциплинируйте. Обращайтесь к звонящему клиенту по имени — Битрикс24 помнит всё.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="left-menu-tab" data-tab="5">
                        <ul class="services-cards">
                            <li class="services-cards__item">
                                <div class="service-card">
                                    <h3 class="service-card__title">Интеграция Битрикс с сайтом или лендингом</h3>
                                    <div class="service-card__text">
                                        <p>Обрабатывайте заявки проще и быстрее. Любое взаимодействие с клиентом через сайт автоматически попадает в Битрикс24.</p>
                                    </div>
                                    <a class="service-card__link" href="#">
                                        Подробнее
                                        <span class="service-card__link-icon">
                                            <svg>
                                                <use xlink:href="#icon-triangle-right"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>