<section class="our-team">
  <div class="our-team__wrapper container">
    <div class="our-team__text-wrapper">
      <h2 class="title title--h2">Команда Nikolaev.group</h2>
      <p>В нашей компании работают специалисты с опытом построения комплексных систем продаж: аналитики, маркетологи, веб-разработчики и программисты, руководители проектов.<br><br> Каждый ценен тем, что, помимо высокой профессиональной квалификации, имеет опыт запуска и развития сильных ритейл-проектов.
      </p>
    </div>
    <div class="our-team__photo-wrapper">
      <picture>
        <source type="image/webp" media="(min-width: 1024px)" srcset="img/content/team.webp 1x, img/content/team@2x.webp 2x">
        <source type="image/webp" srcset="img/content/team-375.webp 1x, img/content/team-375@2x.webp 2x">

        <source media="(min-width: 1024px)" srcset="img/content/team.jpg 1x, img/content/team@2x.jpg 2x">
        <img src="img/content/team-375.jpg" width="335" height="286" srcset="img/content/team-375@2x.jpg 2x" alt="Фото команды Nikolaev.group">
      </picture>
    </div>
  </div>
</section>
