<section class="process">
    <div class="container">
        <h2 class="process__title title title--h2">Как мы работаем</h2>
        <div class="tree">
            <div class="tree__section">
                <div class="tree__num">01</div>
                <div class="tree__block">
                    <h3 class="tree__block-title">Выстраивание логики<br> бизнес-процессов</h3>
                </div>
                <div class="tree__block">
                    <div class="tree__card">
                        <p>Выстроим корректную логику работы CRM-системы, спланируем воронки и карточки сущностей, учитывающие все нюансы ведения клиентов по воронке продаж и сопровождения</p>
                    </div>
                </div>
            </div>
            <div class="tree__section tree__section--reverse">
                <div class="tree__num">02</div>
                <div class="tree__block">
                    <h3 class="tree__block-title">Интеграции: телефония,<br> сайты, социальные сети,<br> мессенджеры</h3>
                </div>
                <div class="tree__block">
                    <div class="tree__card">
                        <p>Подключим телефонию и все дополнительные сервисы: мессенджеры, социальные сети, онлайн чаты, кол-бэк и так далее.<br> <b>Возьмем под контроль всех лидов</b></p>
                    </div>
                </div>
            </div>
            <div class="tree__section">
                <div class="tree__num">03</div>
                <div class="tree__block">
                    <h3 class="tree__block-title">Обучение менеджеров,<br> руководителя продаж<br> и собственника</h3>
                </div>
                <div class="tree__block">
                    <div class="tree__card">
                        <p>Обучаем менеджеров работе по Zoom, показываем как работать по новой логике в Битрикс 24</p>
                    </div>
                </div>
            </div>
            <div class="tree__section tree__section--reverse">
                <div class="tree__num">04</div>
                <div class="tree__block">
                    <h3 class="tree__block-title">Автоматизация<br> рутинных процессов с<br> Битрикс24</h3>
                </div>
                <div class="tree__block">
                    <div class="tree__card">
                        <p>Подготовим схему автодействия на каждом этапе. Обучаем собственника следить за ключевыми показателями в бизнесе и принимать управленческие решения</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>