<section class="profits">
    <div class="container">
        <h2 class="profits__title title title--h2">Выгоды работы с нами</h2>

        <ul class="profits__list">
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_1.svg" alt="">
                    </div>
                    <h3 class="profit__title">В отделе продаж полный порядок</h3>
                    <div class="profit__text">
                        <p>В компанию внедрена прозрачная система работы с клиентами и доведения их до продаж, которая показала результат более чем в 50 проектах</p>
                    </div>

                </div>
            </li>
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_2.svg" alt="">
                    </div>
                    <h3 class="profit__title">Инструменты продаж работают за вас!</h3>
                    <div class="profit__text">
                        <p>Мы создадим для вас мощные инструменты продаж и научим менеджеров эффективно работать с ними, чтобы ежемесячно вы выполняли и перевыполняли план продаж</p>
                    </div>

                </div>
            </li>
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_3.svg" alt="">
                    </div>
                    <h3 class="profit__title">Системная работа с клиентской базой</h3>
                    <div class="profit__text">
                        <p>В компанию внедрена прозрачная система работы с клиентами и доведения их до продаж, которая показала результат более чем в 50 проектах</p>
                    </div>

                </div>
            </li>
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_4.svg" alt="">
                    </div>
                    <h3 class="profit__title">Клиенты выбирают вас</h3>
                    <div class="profit__text">
                        <p>Воронки продаж поэтапно прогревают потенциальных клиентов, увеличивают лояльность к бренду и доводят их точно до покупки</p>
                    </div>

                </div>
            </li>
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_5.svg" alt="">
                    </div>
                    <h3 class="profit__title">Прозрачная аналитика</h3>
                    <div class="profit__text">
                        <p>Вы сможете удаленно держать вашу компанию под контролем! CRM-система позволит контролировать работу менеджеров и отслеживать ход ведения сделки по каждому клиенту</p>
                    </div>

                </div>
            </li>
            <li class="profits__list-item">
                <div class="profit">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_6.svg" alt="">
                    </div>
                    <h3 class="profit__title">На 100% эффективный маркетинг</h3>
                    <div class="profit__text">
                        <p>Вы максимально эффективно используете маркетинговый бюджет, распределяя его только на рабочие каналы трафика</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>