<section class="profits">
    <div class="container">
        <h2 class="profits__title title title--h2">Выгоды работы с нами</h2>

        <ul class="profits__list">
            <li class="profits__list-item profits__list-item--type_1">
                <div class="profit profit--type_1">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_3.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">Системная работа<br> с клиентской базой</h3>
                        <div class="profit__text">
                            <p>В компанию внедрена прозрачная система работы с клиентами и доведения их до продаж, которая показала результат более чем в 50 проектах</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="profits__list-item profits__list-item--type_2">
                <div class="profit profit--type_2">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_1.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">В отделе продаж<br> полный порядок</h3>
                        <div class="profit__text">
                            <p>В компанию внедрена прозрачная система работы с клиентами и доведения их до продаж, которая показала результат более чем в 50 проектах</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="profits__list-item profits__list-item--type_2">
                <div class="profit profit--type_2">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_2.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">Инструменты продаж<br> работают за вас!</h3>
                        <div class="profit__text">
                            <p>В компанию внедрена прозрачная система работы с клиентами и доведения их до продаж, которая показала результат более чем в 50 проектах</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="profits__list-item profits__list-item--type_2">
                <div class="profit profit--type_2">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_5.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">Прозрачная<br> аналитика</h3>
                        <div class="profit__text">
                            <p>Вы сможете удаленно держать вашу компанию под контролем! CRM-система позволит контролировать работу менеджеров и отслеживать ход ведения сделки по каждому клиенту</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="profits__list-item profits__list-item--type_2">
                <div class="profit profit--type_2">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_4.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">Клиенты выбирают вас</h3>
                        <div class="profit__text">
                            <p>Воронки продаж поэтапно прогревают потенциальных клиентов, увеличивают лояльность к бренду и доводят их точно до покупки</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="profits__list-item profits__list-item--type_1">
                <div class="profit profit--type_1">
                    <div class="profit__icon">
                        <img src="img/content/profits/icon_6.svg" alt="">
                    </div>
                    <div class="profit__text-block">
                        <h3 class="profit__title">На 100% эффективный<br> маркетинг</h3>
                        <div class="profit__text">
                            <p>Вы максимально эффективно используете маркетинговый бюджет, распределяя его только на рабочие каналы трафика</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>