<section class="reasons">
    <div class="container">
        <h2 class="reasons__title title title--h2">4 причины, почему вы здесь:</h2>
        <ol class="reasons__list">
            <li class="reasons__list-item">
                <div class="reason reason--type_1">
                    <p class="reason__num">01</p>
                    <p class="reason__text">Клиенты приходят,<br> но продаж нет</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_2">
                    <p class="reason__num">02</p>
                    <p class="reason__text">Тяжело управлять<br> бизнес-процессами</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_1">
                    <p class="reason__num">03</p>
                    <p class="reason__text">Обилие<br> бессмысленных<br> итераций</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_2">
                    <p class="reason__num">04</p>
                    <p class="reason__text">Непонятен источник<br> притока клиентов</p>
                </div>
            </li>
        </ol>
    </div>
</section>