<section class="reasons reasons--type_2">
    <div class="container">
        <h2 class="reasons__title title title--h2">Почему к нам обращаются?</h2>
        <ol class="reasons__list">
            <li class="reasons__list-item">
                <div class="reason reason--type_1 reason--type_3">
                    <h3 class="reason__title">Золотой партнер Битрикс-24</h3>
                    <p class="reason__text">Мы официальный партнер Битрикс 24. Все сотрудники прошли обучение и имеют соответствующие сертификаты</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_4">
                    <h3 class="reason__title">Более 50 довольных клиентов</h3>
                    <p class="reason__text">Наша цель — добиться для вашего бизнеса конкретных результатов. Мы внедряем только необходимые сервисы и интеграции, которые помогут вам работать эффективнее</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_1 reason--type_3">
                    <h3 class="reason__title">Команда с большим опытом</h3>
                    <p class="reason__text">В нашей компании работают специалисты с опытом построения комплексных систем продаж:<br> аналитики, маркетологи, веб-разработчики и программисты, руководители проектов</p>
                </div>
            </li>
            <li class="reasons__list-item">
                <div class="reason reason--type_4">
                    <h3 class="reason__title">Эксперты в области продаж</h3>
                    <p class="reason__text">Сначала мы научились продавать и занимаемся этим в разных сферах уже более 10 лет. Это позволяет нам увеличивать вашу выручку, настраивая CRM сквозь призму продаж</p>
                </div>
            </li>
        </ol>

        <div class="image-center"><img src="img/content/certificate.jpg" srcset="img/content/certificate@2x.jpg 2x" alt=""></div>
    </div>
</section>