<section class="certs">
    <div class="container">
        <h2 class="certs__title title title--h2">Отзывы о нашей работе</h2>
        <ul class="certs-list">
            <li class="certs-list__item">
                <a class="cert" href="#">
                    <img src="img/content/cert.jpg" srcset="img/content/cert@2x.jpg 2x" alt="">
                </a>
            </li>
            <li class="certs-list__item">
                <a class="cert" href="#">
                    <img src="img/content/cert.jpg" srcset="img/content/cert@2x.jpg 2x" alt="">
                </a>
            </li>
            <li class="certs-list__item">
                <a class="cert" href="#">
                    <img src="img/content/cert.jpg" srcset="img/content/cert@2x.jpg 2x" alt="">
                </a>
            </li>
            <li class="certs-list__item">
                <a class="cert" href="#">
                    <img src="img/content/cert.jpg" srcset="img/content/cert@2x.jpg 2x" alt="">
                </a>
            </li>
            <li class="certs-list__item">
                <a class="cert" href="#">
                    <img src="img/content/cert.jpg" srcset="img/content/cert@2x.jpg 2x" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>