<section class="services">
    <div class="services__container container">
        <h2 class="services__title title title--h2">Какие <span>услуги</span>&nbsp;мы<br> предоставляем?</h2>
        <ul class="services__list">
            <li class="services__list-item">Настройка<br> Битрикс 24</li>
            <li class="services__list-item">Настройка<br> Ip-телефонии</li>
            <li class="services__list-item">Внедрение<br> сквозной аналитики</li>
            <li class="services__list-item">Интеграция<br> с сайтом</li>
            <li class="services__list-item">Автоматизируем<br> рутину</li>
            <li class="services__list-item">Обучение по<br> работе в CRM</li>
        </ul>
    </div>
</section>