<section class="text-image">
    <div class="text-image__wrapper container">
        <div class="text-image__text-wrapper">
            <h2 class="title title--h2">Алексей Николаев</h2>
            <p class="text-image__position">Основатель и генеральный директор Nikolaev Group</p>
            <p>
                «Более 10 лет мы развиваем собственную торговую сеть дверных и мебельных брендов. Инфраструктуру собственной онлайн- и офлайн-торговли мы создавали сами. Внедряли CRM и автоматизировали продажи. Тестировали разные IT-инструменты и
                решения, чтобы остановиться на самых эффективных. Строили системный маркетинг, который работает на результат. Мы сами прошли этот путь. Накопили знания и экспертизу, и теперь готовы делиться этим опытом»
            </p>
            <a class="text-image__btn btn btn--big btn--transparent" href="#">О компании</a>
        </div>
        <div class="text-image__photo-wrapper">
            <picture>
                <source srcset="img/content/director.jpg 1x, img/content/director@2x.jpg 2x" media="(min-width: 1024px)">
                <img src="img/content/director_mobile.jpg" srcset="img/content/director_mobile@2x.jpg 2x" alt="Фото команды Nikolaev.group">
            </picture>
        </div>
    </div>
</section>