.how-we-work {
    padding-top: 60px;
    padding-bottom: 60px;
    @media(min-width: $viewport--xl) {
        min-height: 640px;
        padding-top: 40px;
        padding-bottom: 132px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 30px;
        @media(min-width: $viewport--xlg) {
            font-size: 28px;
        }
        @media(min-width: $viewport--xl) {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
}